@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --font1: 'Black Ops One', cursive;
    --font2: 'Fira Sans', sans-serif;
    --cor1: #71C6DE;
    --cor2: #3EC7F7;
    --cor3: #70BFF0;
    --cor4: #43B1E0;
    --cor5: #589CBF;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--font2);
    font-weight: 300;
    background-color: rgb(227, 227, 227);
}

header {
    background-color: var(--cor3);
    height: 150px;
    color: white;
    box-shadow: inset 0px 0px 50px 20px rgba(0, 0, 0, 0.200);
}

header > h1 {
    padding-top: 8px;
    font-family: var(--font1);
    font-size: 40px;
    text-indent:100px;
    transform: translate(0px, -55px);
}

header > p {
    text-indent: 100px;
    transform: translate(0px, -55px);
}

header img {
    width: 80px;
    transform: translate(0px, 35px);
}

header nav {
    text-align: center;
    transform: translate(0px, -80px);
    border-radius: 10px;
}

header nav a {
    font-size: 99%;
    display: inline-block;
    margin-top: 8px;
    padding: 20px 20px;
    text-decoration: none;
    color: white;
}

header nav a:hover {
    background-color: #7cc3ef;
    text-decoration: underline;
    margin: 0px 15px;
    transition: 0.2s;
}

main {
    box-shadow: 20px 30px 50px 1px rgba(0, 0, 0, 0.221);
    background-color: white;
    max-width: 80%;
    margin: auto;
    text-align: justify;
}

#coca {
    color: #294F69;
}

main > section > article > figure {
    text-align: center;
}

main > section > article > figure > img {
    border-radius: 10px;
    margin: 30px 0px 30px 0px;
    width: 95%;
}

main h1 {
    font-size: 30px;
    text-indent: 20px;
    margin: 0px 38px;
}

main h2 {
    font-size: 25;
    margin: 0px 70px;
    
}

main p {
    font-size: 22px;
}

main h1, h2 {
    padding: 20px 0px;
}

main p {
    text-indent: 30px;
    margin: 0px 30px;
}

main ul {
     margin: 30px 60px;
     padding: 5px 5px 5px 50px;
}

#espaciamento {
    padding-top: 30px;
}

#final {
    font-size: 0.9em;
    text-align: right ;
    margin: 0px 10px 0px 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: rgb(41, 103, 108);
    font-weight: 400;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: var(--cor3);
    color: white;
    font: 300;
    text-align: center;
    box-shadow: inset 0px 0px 50px 20px rgba(0, 0, 0, 0.200);
}

    @media screen and (max-width: 1100px) {
        header {
            background-color: var(--cor3);
            height: 23,8vh;
            color: white;
            box-shadow: inset 0px 0px 50px 20px rgba(0, 0, 0, 0.200);
            text-indent: 0px;
            transform: translate(0px,0px);
        }

        
        header > h1 {
            padding-top: 8px;
            font-family: var(--font1);
            font-size: 30px;
            text-align: center;
            text-indent: 0px;
            transform: translate(0px,0px);
        }

        header > p {
            text-align: center;
            text-indent: 0px;
            transform: translate(0px,0px);
        }

        header img {
            width: 50px;
            display: block;
            margin: auto;
            transform: translate(0px,0px);
        }

        header nav {
            text-align: center;
            transform: translate(0px, -5px);
            border-radius: 10px;
        }

        header nav a {
            font-size: 99%;
            display: inline-block;
            margin-top: 8px;
            padding: 5.5px;
            text-decoration: none;
            color: white;
        }

        header nav a:hover {
            background-color: var(--cor2);
            text-decoration: underline;
        }

        main p {
            font-size: 15px;
        }
        footer {
            background-color: var(--cor3);
            color: white;
            font: 300;
        }

        footer p {
            text-align: center  ;        
        }
}


